<div>
    <!-- card header  -->
    <h2>{{car["year"]}} {{car["make"]}} {{car["model"]}}</h2>

    <!-- formatted  -->
    <p><strong>price: {{"£{:,.2f}".format(car["price"])}}</strong></p>
    <p><strong>{{car["engine"]}}</strong> engine</p>

    <!-- conditionals  -->
    {% if car["autonomous"] %}
    <p>Car has autonomous capability</p>
    {% else %}
    <p>Car has no autonomous capabilities</p>
    {% endif %}

    {% if car["sold"] %}
    <p>sold in {{car["sold"]|join(',')}}</p>
    {% else %}
    <p>Currently unavailable</p>
    {% endif %}

    <p>ID: {{id}}</p>

    <a class="btn btn-dark" href="/edit?id={{id}}">Edit</a>
    <a class="btn btn-danger" href="/delete/{{id}}">Delete</a>
</div>