{% include "header.html" %}
{% include "navbar.html" %}

<div class="container" style="margin-top: 1em">
    <form action="/cars" method="POST">

        <!-- car make  -->
        <div class="mb-3">
            <label class="form-label" for="make">Make</label>
            <input class="form-control" type="text" name="make" id="make" aria-describedby="makeDesc">
            <div id="makeDesc" class="form-text">The make of the car</div>
        </div>

        <!-- car model  -->
        <div class="mb-3">
            <label class="form-label" for="model">Model</label>
            <input class="form-control" type="text" name="model" id="model" aria-describedby="modelDesc">
            <div id="modelDesc" class="form-text">The model of the car</div>
        </div>

        <!-- car year  -->
        <div class="mb-3">
            <label class="form-label" for="year">Year</label>
            <input class="form-control" type="text" name="year" id="year" aria-describedby="yearDesc">
            <div id="yearDesc" class="form-text">The year of the cars construction</div>
        </div>

        <!-- car price  -->
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="text" name="price" id="price" aria-describedby="priceDesc">
            <div id="priceDesc" class="form-text">The price of the car</div>
        </div>

        <!-- car engine  -->
        <div class="mb-3">
            <label class="form-label" for="engine">Engine</label>
            <input class="form-control" type="text" name="engine" id="engine" aria-describedby="engineDesc">
            <div id="engineDesc" class="form-text">The engine type in the car</div>
        </div>

        <!-- autonomous  -->
        <div class="mb-3">
            <label for="autonomous" class="form-label">Is car autonomous?</label>
            <select class="form-select" name="autonomous" id="autonomous">
                <option selected value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>

        <!-- sales locations  -->
        <div class="mb-3">
            <p>Where is the car sold?</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="sold" value="AF">Africa (AF)<br>
                <input class="form-check-input" type="checkbox" name="sold" value="AN">Antartica (AN)<br>
                <input class="form-check-input" type="checkbox" name="sold" value="AS">Asia (AS)<br>
                <input class="form-check-input" type="checkbox" name="sold" value="EU">Europe (EU)<br>
                <input class="form-check-input" type="checkbox" name="sold" value="NA">North America (NA)<br>
                <input class="form-check-input" type="checkbox" name="sold" value="SA">South America (SA)<br>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>


{% include "footer.html" %}