{% include "header.html" %}
{% include "navbar.html" %}

<div class="container" style="margin-top: 1em">
    <form action="/cars/{{id}}" method="POST">

        <!-- car make  -->
        <div class="mb-3">
            <label class="form-label" for="make">Make</label>
            <input class="form-control" type="text" name="make" id="make" value="{{car['make']}}"
                aria-describedby="makeDesc">
            <div id="makeDesc" class="form-text">The make of the car</div>
        </div>

        <!-- car model  -->
        <div class="mb-3">
            <label class="form-label" for="model">Model</label>
            <input class="form-control" type="text" name="model" id="model" value="{{car['model']}}"
                aria-describedby="modelDesc">
            <div id="modelDesc" class="form-text">The model of the car</div>
        </div>

        <!-- car year  -->
        <div class="mb-3">
            <label class="form-label" for="year">Year</label>
            <input class="form-control" type="text" name="year" id="year" value="{{car['year']}}"
                aria-describedby="yearDesc">
            <div id="yearDesc" class="form-text">The year of the cars construction</div>
        </div>

        <!-- car price  -->
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" type="text" name="price" id="price" value="{{car['price']}}"
                aria-describedby="priceDesc">
            <div id="priceDesc" class="form-text">The price of the car</div>
        </div>

        <!-- car engine  -->
        <div class="mb-3">
            <label class="form-label" for="engine">Engine</label>
            <input class="form-control" type="text" name="engine" id="engine" value="{{car['engine']}}"
                aria-describedby="engineDesc">
            <div id="engineDesc" class="form-text">The engine type in the car</div>
        </div>

        <!-- autonomous  -->
        <div class="mb-3">
            <label for="autonomous" class="form-label">Is car autonomous?</label>
            <select class="form-select" name="autonomous" id="autonomous">
                {% if car['autonomous'] %}
                <option selected value="true">Yes</option>
                <option value="false">No</option>
                {% else %}
                <option value="true">Yes</option>
                <option selected value="false">No</option>
                {% endif %}
            </select>
        </div>

        <!-- sales locations  -->
        <div class="mb-3">
            <p>Where is the car sold?</p>
            <div class="form-check">
                {% for ct in [("Africa", "AF"),("Antartica", "AN"),("Asia", "AS"),("Europe", "EU"),("North America",
                "NA"),("South America", "SA"), ] %}
                {% if ct[1] in car['sold'] %}
                <!-- show checked cases  -->
                <input class="form-input-check" type="checkbox" value="{{ct[1]}}" name="sold" id="sold"
                    checked>{{ct[0]}} ({{ct[1]}})<br>
                {% else %}
                <!-- show unchecked cases  -->
                <input class="form-input-check" type="checkbox" value="{{ct[1]}}" name="sold" id="sold">{{ct[0]}}
                ({{ct[1]}})<br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>


{% include "footer.html" %}