{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .custom-card-body {
        border: 1px solid #aaa;
        margin: 0.5em 0.5em;
        border-radius: 8px;
        padding: 1em;
        background: #f5f5f5;
    }
</style>

<div class="container-fluid">
    {% for id, car in cars %}
    <div class="row justify-content-center" style="text-align: center;">
        <div class="col col-sm-6 custom-card-body">
            {% include "car.html" %}
        </div>
    </div>
    {% endfor %}
</div>


{% include "footer.html" %}